:root {
    --font-material-icons: 'Material Icons', sans-serif;
    --font-righteous:'Righteous', system-ui;
    --font-inconsolata:'Inconsolata Variable', monospace;
    --font-ubuntu:  'Ubuntu', sans-serif;
    --font-ubuntu-mono: 'Ubuntu Mono', monospace;
    --font-monospace: 'Monaspace Neon', monospace;
    
    --color-app-black: #111;
    --color-app-black-alt: rgba(0,0,0,.1);
    --color-app-white: #ddd;
    --color-app-gray: #888;
    --color-app-red: #500;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    user-select: none;
}

.material-icon{
    font-family: var(--font-material-icons);
    font-style: normal;
    font-size: 1.5rem;
}