name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main,dev]

jobs:
  ci:
    if: github.actor != 'github-actions[bot]'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.3'
      - name: Run formatter
        run: make fmt-all
      - name: Commit changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add -A
          git commit -m "Apply auto-formatting" || echo "No changes to commit"
      
      - name: Push changes
        run: |
          git push